<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>
<ul>
  <li th:each="vo : ${list}">
    [[${vo}]]
  </li>
</ul>
</body>
</html>
-->

<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>
<ul>
  <li th:each="vo, state : ${list}" th:if="${vo.sno % 5 == 0}">
    [[${state.index}]] --- [[${vo}]]
  </li>
</ul>
</body>
</html>
-->

<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>
<ul>
  <li th:each="vo, state : ${list}">
    <span th:if="${vo.sno % 5 == 0}" th:text="${'---------------------------' + vo.sno}"></span>
    <span th:unless="${vo.sno % 5 == 0}" th:text="${vo.first}"></span>
  </li>
</ul>
</body>
</html>
-->


<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>
  <style>
    .target{
      background-color: red;
    }
  </style>
</head>

<body>
<ul>
  <li th:each="vo, state : ${list}" th:text="${vo.sno % 5 == 0}?${vo.sno}:${vo.first}">
  </li>
</ul>
<ul>
  <li th:each="vo, state : ${list}" th:class="${vo.sno % 5 == 0}?'target'" th:text="${vo}">
  </li>
</ul>
</body>
</html>
-->
<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>
  <style>
    .target{
      background-color: red;
    }
  </style>
</head>
<body>
<ul>
  <th:block th:each="vo:${list}">
    <li th:text="${vo.sno % 5 == 0}?${vo.sno}:${vo.first}"></li>
  </th:block>
</ul>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<ul>
    <li th:each="vo, state : ${list}">
        <th:block th:switch="${vo.sno % 5 == 0}">
            <span th:case=true th:text="${'---------------------------' + vo.sno}"></span>
            <span th:case=false th:text="${vo.first}"></span>
        </th:block>
    </li>
</ul>
</body>
</html>
